<header>
  <nav>
    <a id="login" href="/index.html"> 1 · Login </a>
    <span>·</span>
    <a id="register" href="/pages/RegisterPage/register.html"> 2 · Register </a>
    <span>·</span>
    <a id="forgot_password" href="/pages/ForgotPasswordPage/forgot-password.html"> 3 · Forgot Password </a>
    <span>·</span>
    <a id="reset_password" href="/pages/ResetPasswordPage/reset-password.html"> 4 · Reset Password </a>
    <span>·</span>
    <a id="verify_email" href="/pages/VerifyEmailPage/verify-email.html"> 5 · Verify Email </a>
    <span>·</span>
    <a id="success" href=""> 6 · Success </a>
  </nav>
</header>
